.ant-tabs-tabpane {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .ant-card {
        max-width: 20%;
        flex: 1 20%;
        
        .ant-card-body img {
            width: 100%;
        }
    }
}